---
layout: default
---

<div class="row">
  <div class="col-md-6 offset-md-3">
    <!--
    {% assign post = site.posts.first %}
    {% assign slug = post.id | split: '/' | last %}
    {% assign location = site.data.locations[slug] %}

    {% if slug == 'none' %}
      <img
        class="img-fluid"
        src="images/flyers/flyer-no-disco.png?v={{ site.time | date: '%s' }}"
        alt="Flyer for Secret Roller Disco: NO DISCO THIS WEEK, {{post.date | date: '%A, %B %-d, %Y'}}."
      \>
    {% else %}
      <img
        class="img-fluid"
        src="images/flyers/flyer-{{post.date | date: '%F'}}.png?v={{ site.time | date: '%s' }}"
        alt="
          Flyer for Secret Roller Disco:
          {{post.date | date: '%A, %B %-d, %Y'}}, {{post.time}}.
          {{location['name']}}. {{post.alt}} {{location['address']}}. All wheels welcome.
          {% if post.rentals == true %}Skate Rentals!{% else %}No Skate Rentals.{% endif %}
        "
      \>
    {% endif %}

    <div class="info section">
      <h3>
        {{post.date | date: "%A"}}<br/>
        {{post.date | date: "%B %-d, %Y"}}<br/>
        {{post.time}}
      </h3>

      <p>
        {{location['name']}}<br/>
        {% if location['name'] contains 'Secret' %}
          <a href="tel:{{location['address']}}" target="_blank">{{location['address']}}</a>
        {% elsif slug == 'gone' %}
          {{location['address']}}
        {% elsif slug == 'none' %}
          {{location['address']}}
        {% else %}
          {{location['address']}}<br/>
          {{location['city']}}</p><p>
          <a href="http://maps.apple.com/?q={{location['address']}}+{{location['city']}}" target="_blank">Apple Maps</a> •
          <a href="http://maps.google.com/?q={{location['address']}}+{{location['city']}}" target="_blank">Google Maps</a>
        {% endif %}
      </p>

      {% if post.alt %}
        <p class='alt'>{{post.alt}}</p>
      {% endif %}

      {% if post.theme %}
        <p><strong>Theme</strong><br/>{{post.theme}}</p>
      {% endif %}

      {% if post.djs %}
        <p><strong>Featuring</strong><br/>
          {% for dj in post.djs %}
            {% if dj.name %}
              {% if dj.link %}
                <a href="{{dj.link}}" target="_blank">{{dj.name}}</a>
              {% else %}
                {{dj.name}}
              {% endif %}
              <br/>
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}

      {% if post.rentals == true %}
        <p>🥳 <span class='rentals'>SKATE RENTALS</span> 🥳</p>
      {% elsif post.rentals == false %}
        <p><strong>☹️ NO SKATE RENTALS ☹️</strong></p>
      {% endif %}
    </div>
    -->

    <img
      class="img-fluid"
      src="images/flyers/flyer-2025-09-19.png?v={{ site.time | date: '%s' }}"
      alt="
        Flyer for Secret Roller Disco: Cascade Equinox Festival
        September 19-21, 2:30-10pm
        Deschutes County Fair & Expo Center
        3800 SW Airport Wy, Redmond, OR 97756
        Skate Rentals will be available!
      "
    \>

    <div class="info section">
      <h3>
        September 19-21, 2024
      </h3>

      <p>
        <a href="https://cascadeequinox.com" target="_blank">Cascade Equinox Festival</a><br/>
        Deschutes County Fair & Expo Center<br/>
        3800 SW Airport Wy<br/>
        Redmond, OR 97756
      </p>

      <p>
        <a href="http://maps.apple.com/?q=3800+SW+Airport+Wy,+Redmond,+OR+97756" target="_blank">Apple Maps</a> •
        <a href="http://maps.google.com/?q=3800+SW+Airport+Wy,+Redmond,+OR+97756" target="_blank">Google Maps</a>
      </p>

      <p>
        <strong>Stage</strong><br/>SOLAR SPIN
      </p>

      <p>
        <strong>Featuring</strong><br/>

        <a href="https://www.instagram.com/dj_dancemom" target="_blank">
          DANCE MOM
        </a><br/>

        <a href="https://www.instagram.com/djgoodthings" target="_blank">
          DJ GOOD THINGS
        </a><br/>

        <a href="https://www.instagram.com/djgregoryt" target="_blank">
          DJ GREGORY T
        </a><br/>

        <a href="https://www.instagram.com/djmikemoses503" target="_blank">
          DJ MIKE MOSES
        </a><br/>

        <a href="https://www.instagram.com/djvarietas" target="_blank">
          DJ VARIETAS
        </a><br/>

        <a href="https://www.instagram.com/doogienights" target="_blank">
          DOOGIE NIGHTS
        </a><br/>

        <a href="https://www.instagram.com/dr_berg_dj" target="_blank">
          DR? BERG
        </a><br/>

        <a href="https://www.instagram.com/_glittergoblin_" target="_blank">
          GLITTER GOBLIN
        </a><br/>

        <a href="https://www.instagram.com/gothxgrandpa" target="_blank">
          GOTH GRANDPA
        </a><br/>

        <a href="https://www.instagram.com/marvsattacks" target="_blank">
          MARVSATTACKS!
        </a><br/>

        <a href="https://www.instagram.com/mr.happypdx" target="_blank">
          MR. HAPPY
        </a><br/>

        <a href="https://www.instagram.com/thirstyavocado/" target="_blank">
          NOR SOU
        </a><br/>

        <a href="https://www.instagram.com/partyhits_" target="_blank">
          PARTY HITS
        </a><br/>

        <a href="https://www.instagram.com/rainvanhecke_purplerain/" target="_blank">
          PURPLE RAIN
        </a><br/>

        <a href="https://www.instagram.com/jacobsubko" target="_blank">
          SUBKO
        </a><br/>

        <a href="https://www.instagram.com/itsverndon" target="_blank">VERNON</a> B2B <a href="https://www.instagram.com/hoodsview" target="_blank">HOODSVIEW</a><br/>

        <a href="https://www.instagram.com/djvitaminv" target="_blank">
          VITAMIN V
        </a><br/>
      </p>

      <p>
        🥳 <span class='rentals'>SKATE RENTALS</span> 🥳<br/>
        Provided by <a href="https://crushnevadacity.com" target="_blank">Crush Nevada City</a>
      </p>
    </div>

    {% if post.map == true %}
      <div class="section">
        <img
          class="img-fluid"
          src="images/flyers/location-{{slug}}.png"
          alt="Location Map This Week: {{location['name']}}. {{location['address']}}."
        \>
      </div>
    {% endif %}

    <div class="social section">
      <ul class="d-flex list-unstyled justify-content-center">
        <li>
          <a href="https://www.instagram.com/secretrollerdisco/" target="_blank">
            <img src="images/social/instagram.png" class="social" alt="instagram logo">
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@secretrollerdisco" target="_blank">
            <img src="images/social/tiktok.png" class="social" alt="tiktok logo">
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/groups/356245775488560" target="_blank">
            <img src="images/social/facebook.png" class="social" alt="facebook logo">
          </a>
        </li>
      </ul>
    </div>

    <div class="section">
      <img src="images/least-secret-disco.png" class="img-fluid" alt="Portland’s least secret Secret Roller Disco!">
    </div>

    <div class="section">
      <img src="images/logo-eye.png" class="img-fluid" alt="Secret Roller Disco logo with an eye ball in inside a disco ball inside a triangle.">
    </div>

    <!-- <div class="section">
      <img src="images/logo-pef.png" class="img-fluid" alt="Portland Events &amp; Film Logo">
      <p>Portland Events and Film is proud to support events that celebrate our city, build community, and represent the diversity of Portland’s creative talent, businesses, and communities.</p>
    </div>

    <div class="section">
      <img src="images/logo-racc.png" class="img-fluid" alt="Regional Arts &amp; Culture Council Logo">
      <p>These events made possible by public arts funding from Regional Arts &amp; Culture Council (RACC) who envision a community that supports, participates, and finds joy in arts and culture, not just for those who can afford to pay.</p>
    </div> -->

  </div>
</div>
