---
layout: default
---

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {% assign post = site.posts.first %}
    {% assign slug = post.id | split: '/' | last %}
    {% assign location = site.data.locations[slug] %}

    <img
      class="img-responsive"
      src="images/flyers/flyer-{{post.date | date: '%F'}}.png?v={{ site.time | date: '%s' }}"
      alt="
        Flyer for Secret Roller Disco:
        {{post.date | date: '%A, %B %-d, %Y'}}, {{post.time}}.
        {{location['name']}}. {{post.alt}} {{location['address']}}. All wheels welcome.
        {% if post.rentals == true %}Skate Rentals!{% else %}No Skate Rentals.{% endif %}
      "
    \>

    <div class="info section">
      <h3>
        {{post.date | date: "%A"}}<br/>
        {{post.date | date: "%B %-d, %Y"}}
      </h3>

      <p>
        {{location['name']}}<br/>
        {% if location['name'] contains 'Secret' %}
          <a href="tel:{{location['address']}}" target="_blank">{{location['address']}}</a>
        {% elsif location['name'] contains 'GONE' %}
          {{location['address']}}
        {% else %}
          {{location['address']}}<br/>
          {{location['city']}}</p><p>
          <a href="http://maps.apple.com/?q={{location['address']}}+{{location['city']}}" target="_blank">Apple Maps</a> •
          <a href="http://maps.google.com/?q={{location['address']}}+{{location['city']}}" target="_blank">Google Maps</a>
        {% endif %}
      </p>

      {% if post.alt %}
        <p class='alt'>{{post.alt}}</p>
      {% endif %}

      <p><strong>Featuring</strong>:
        {% for dj in post.djs %}
          {% if dj.name %}
            {% if dj.link %}
              <a href="{{dj.link}}" target="_blank">{{dj.name}}</a>
            {% else %}
              {{dj.name}}
            {% endif %}
          {% endif %}
        {% endfor %}
      </p>

      {% if post.theme %}
        <p><strong>Theme</strong>: {{post.theme}}</p>
      {% endif %}

      {% if post.rentals == true %}
        <p>🥳 <span class='rentals'>SKATE RENTALS</span> 🥳</p>
      {% elsif post.rentals == false %}
        <p><strong>☹️ NO SKATE RENTALS ☹️</strong></p>
      {% endif %}
    </div>

    {% if post.map == true %}
      <div class="section">
        <img
          class="img-responsive"
          src="images/flyers/location-{{slug}}.png"
          alt="Location Map This Week: {{location['name']}}. {{location['address']}}."
        \>
      </div>
    {% endif %}

    <div class="social section">
      <ul class="list-inline">
        <li>
          <a href="https://www.instagram.com/secretrollerdisco/" target="_blank">
            <img src="images/social/instagram.png" class="social" alt="instagram logo">
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@secretrollerdisco" target="_blank">
            <img src="images/social/tiktok.png" class="social" alt="tiktok logo">
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/groups/356245775488560" target="_blank">
            <img src="images/social/facebook.png" class="social" alt="facebook logo">
          </a>
        </li>
      </ul>
    </div>

    <div class="section">
      <img src="images/by-line.png" class="img-responsive" alt="Portland’s least secret Secret Roller Disco. Thursday nights, rain or shine, 7 to 9.">
    </div>

    <div class="section">
      <img src="images/logo-eye.png" class="img-responsive" alt="Secret Roller Disco logo with an eye ball in inside a disco ball inside a triangle.">
    </div>

    <div class="section">
      <img src="images/logo-pef.png" class="img-responsive" alt="Portland Events &amp; Film Logo">
      <p>Portland Events and Film is proud to support events that celebrate our city, build community, and represent the diversity of Portland’s creative talent, businesses, and communities.</p>
    </div>

    <div class="section">
      <img src="images/logo-racc.png" class="img-responsive" alt="Regional Arts &amp; Culture Council">
      <p>These events made possible by public arts funding from Regional Arts &amp; Culture Council (RACC) who envision a community that supports, participates, and finds joy in arts and culture, not just for those who can afford to pay.</p>
    </div>

  </div>
</div>
